@font-face {
    font-family: 'Lexend';
    src: url('../assets/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../assets/Cormorant-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('../assets/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond Bold';
    src: url('../assets/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSerifPro';
    src: url('../assets/SourceSerif4_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}